body{
    scroll-behavior: smooth;
}
#navbarr li:hover{
background-color:grey;
color: white;
}
.bg-teal, .btn-teal{
    background-color: rgb(117,50,249);
}
.text-teal{
    color:white !important;
}.carousel-caption{
    bottom: 230px;
}
#image{
   
    overflow: hidden;
    
}
#image img{
    transition: 0.5s;
}

#image:hover img{
transform: scale(1.2,1.2);
}#icons i:hover{
color: grey;

} #icons a{
    text-decoration: none;
    color: white;
}#buttons a{
color: white;
}